
body{

    margin: 0;
    min-height: var(--viewport-height) !important;
    width: 100%;
    background-image: url(cicada.png);
    transition: background-image 0.5s ease;

     /* Scale the image to completely fill the width and height */
    background-size: cover;
  
    /* Keep the image centered on the page */
    background-position: center center;
  
    /* Prevent the image from repeating if it loads slowly or shrinks */
    background-repeat: no-repeat;
  
    /* Optional: Fixes the background in place while scrolling content */
    background-attachment: fixed; 
    

}
.panel {
    display: flex;
    width: 808px;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    
    background-color: rgba(2, 37, 78, 0.95);
    backdrop-filter: blur(10px);
    border-radius: 20px;

    margin: 20px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 32px;

    height: 800px;        /* 1. Establish a height limit */
    overflow-y: auto;     /* 2. Enable vertical scrolling only when needed */
    overflow-x: hidden;
    scrollbar-width: none;

}